/* ==========================================================================
   Base
   ========================================================================== */

body {
  background: #f5f5f5;
  font: normal 14px/22px Arial,Helvetica,sans-serif;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 1020px;
}

h2 {
  font-size: 14px;
  margin: 0;
  line-height: 22px;
}

h3 {
	font-size: 28px;
	font-weight: normal;
	font-family: 'Pathway Gothic One', sans-serif;
}

.nav > li > a:hover, .nav > li > a:focus {
  color: white;
  background: rgba(0, 0, 0, 0.3);
}

/* =============================================================================
   Header
   ========================================================================== */

.banner {
  padding: 10px 0;
  background-color: #DFDFDF;
}

.navbar .brand {
  background: url(../img/logo.png) center center no-repeat;
  font-family: 'Grand Hotel', cursive;
  font-weight: normal;
  font-size: 48px;
  line-height: 70px;
  color: #333;
  float: left;
  text-indent: -9999px;
  width: 250px;
  height: 70px;
  padding: 0 40px;
}

.menu-thoughts { background-color: #f8bf52; }
.menu-hike { background-color: #fb8233; }
.menu-bike { background-color: #f5632e; }
.menu-tours { background-color: #db2f43; }
.menu-food { background-color: #6c3e62; }
.menu-feasts { background-color: #484173; }
.menu-nature { background-color: #277acf; }
.menu-traditions { background-color: #278286; }
.menu-collections { background-color: #43ac78; }

a { text-decoration: none; }

nav.top-nav {
  padding: 10px 0;
  background: #dfdfdf;
}

nav.top-nav li {
  color: #666;
}

nav {
  overflow: hidden;
  padding-left: 20px;
}

nav li, nav li a {
  float: left;
  width: 111px;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 24px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.banner .nav li a {
  text-shadow: none;
  padding: 0;
  line-height: 70px;
  margin: 0;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
  border: none;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }

.slider, .slides {
position: relative;
min-width: 1024px;
margin-bottom: 0;
height: 400px;
overflow: hidden;
}

div.responsive-slider.flexslider {
	margin-bottom: 0;
}

.slide-thumbnail.wp-post-image {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
}

.post-container {
  position: relative;
}

article.overview.category-hike { border-top: 4px solid #fb8233; }
article.overview.category-bike { border-top: 4px solid #f5632e; }
article.overview.category-tours { border-top: 4px solid #db2f43; }
article.overview.category-food { border-top: 4px solid #6c3e62; }
article.overview.category-feasts { border-top: 4px solid #484173; }
article.overview.category-nature { border-top: 4px solid #277acf; }
article.overview.category-traditions { border-top: 4px solid #278286; }
article.overview.category-collections { border-top: 4px solid #43ac78; }

article.overview.category-thoughts header h2 { background: rgba(248, 191, 82, 0.7); }
article.overview.category-hike header h2 { background: rgba(251, 130, 51, 0.7); }
article.overview.category-bike header h2 { background: rgba(245, 99, 46, 0.7); }
article.overview.category-tours header h2 { background: rgba(219, 47, 67, 0.7); }
article.overview.category-food header h2 { background: rgba(108, 62, 98, 0.7); }
article.overview.category-feasts header h2 { background: rgba(72, 65, 115, 0.7); }
article.overview.category-nature header h2 { background: rgba(39, 122, 207, 0.7); }
article.overview.category-traditions header h2 { background: rgba(39, 130, 134, 0.7); }
article.overview.category-collections header h2 { background: rgba(67, 172, 120, 0.7); }

article header {
  position: relative;
}

article header h2.entry-title {
  position: absolute;
  bottom: 0;
  padding: 5px;
}

article.overview.post {
  position: absolute;
  background: #ffffff;
  width: 320px;
}

article.overview.post img {
  display: block;
  width: 320px;
}

article.overview.post .entry-summary {
  padding: 15px;
  border: 1px solid #ddd;
  border-top: none;
}

article.overview.post header h2 { width: 310px; }

article.overview.post header h2 a {
  color: white;
  text-decoration: none;
}

.single .wrap.container {
	width: 960px;
	margin: 40px auto;
	padding-left: 20px;
}

.single .span12 { width: 960px; }

.single article h1 {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 40px;
	text-align: center;
	line-height: 46px;
	margin: 0 0 20px;
	font-weight: normal;
}

article.category-thoughts h1, .article.category-hike .entry-summary a { color: #f8bf52; }
article.category-hike h1, .article.category-hike .entry-summary a { color: #fb8233; }
article.category-bike h1, article.category-bike  .entry-summary a { color: #f5632e; }
article.category-tours h1, article.category-tours  .entry-summary a { color: #db2f43; }
article.category-food h1, article.category-food  .entry-summary a { color: #6c3e62; }
article.category-feasts h1, article.category-feasts  .entry-summary a { color: #484173; }
article.category-nature h1, article.category-nature  .entry-summary a { color: #277acf; }
article.category-traditions h1, article.category-traditions  .entry-summary a { color: #278286; }
article.category-galleries h1, article.category-galleries  .entry-summary a { color: #43ac78; }

.single article header img {
	width: 960px;
	margin-bottom: 10px;
}

.single article .entry-content {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 24px;
	border-bottom: 1px solid #DFDFDF;
	padding-bottom: 20px;
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

.comment-left, .comment-right {
	width: 48%;
}

textarea, textarea.input-xlarge, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: 90%;
}

.single .comment-right textarea {
	margin-bottom: 18px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}
